nav > ul{
    display: flex;

}
nav li{
 list-style: none;
 margin-right: 1em;
}
li a{
    text-decoration: none;
    color: black;
}
.dropdown{
    position: absolute;
    background-color: silver;
    display: none;
}
nav>ul>li:hover> .dropdown{
    display: block;
}
nav>ul>li:hover>.dropdown.mega-manu{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
}
.mega-manu h3{
    font-size: 16px;
    color: goldenrod;
    margin-bottom: 0;
}
